__pycache__/gui.cpython-313.pyc
__pycache__/pomodoro.cpython-313.pyc
pomodoro.spec
build/pomodoro/Analysis-00.toc
build/pomodoro/base_library.zip
build/pomodoro/EXE-00.toc
build/pomodoro/PKG-00.toc
build/pomodoro/pomodoro.pkg
build/pomodoro/PYZ-00.pyz
build/pomodoro/PYZ-00.toc
build/pomodoro/warn-pomodoro.txt
build/pomodoro/xref-pomodoro.html
build/pomodoro/localpycs/pyimod01_archive.pyc
build/pomodoro/localpycs/pyimod02_importers.pyc
build/pomodoro/localpycs/pyimod03_ctypes.pyc
build/pomodoro/localpycs/pyimod04_pywin32.pyc
build/pomodoro/localpycs/struct.pyc
dist/pomodoro.exe
